factorydata/pipeline/03_restore_tables.json
{
	"name": "03_restore_tables",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "insert",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Truncate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AvroSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().source.fileName",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_4i2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_4i2",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().destination.table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Truncate",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('truncate table ',item().destination.table)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"destination": {
							"table": "departments"
						},
						"source": {
							"fileName": "dbo.departments.avro"
						}
					},
					{
						"destination": {
							"table": "hired_employees"
						},
						"source": {
							"fileName": "dbo.hired_employees.avro"
						}
					},
					{
						"destination": {
							"table": "insert_errors"
						},
						"source": {
							"fileName": "dbo.insert_errors.avro"
						}
					},
					{
						"destination": {
							"table": "jobs"
						},
						"source": {
							"fileName": "dbo.jobs.avro"
						}
					}
				]
			},
			"folder": {
				"type": "string",
				"defaultValue": "2025-03-06 03:03:27"
			}
		},
		"annotations": []
	}
}